.footer {
  background: $black;
  color: $white;
  margin-left: $sidebar-width-lg;
  padding: 1rem;
  transition: all 0.8s ease;
  width: calc(100% - #{$sidebar-width-lg});
  a {
    color: $white;
  }
  @media (max-width: 991px) {
    margin-left: 0;
    width: 100%;
  }
}
