<h1 class="page-title">Overview</h1>
<div class="row grid-margin">
  <div class="col-12 col-lg-6 grid-margin grid-margin-lg-0">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Welcome</h2>
        <div class="row">
          <div class="col-12">
            <div class="custom-legend-container small-chart-container">
              <div id="sales-chart-legend" class="legend-top"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
